.grids {
	list-style: none;
	text-align: center;
	margin: 0 auto;
}
button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-right: 30px;
  padding-left: 70px;
  position: relative;
  background-color:rgb(41,127,184);
  color:#669999;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 100px;
  margin-bottom: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
  -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  
}

table { width: 640px; 
        border-collapse: collapse; 
border-spacing: 0;
padding: 150px;
} 
td, th { 
border: 1px solid transparent; /* No more visible border */
height: 30px; 
transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
background: #e2674a;  /* Darken header a bit */
font-weight: bold;
}

td {
background: #e2674a;
text-align: center;
}

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */

.grids li {
	width: 24%;
	height: 15em;
	margin: 0.5%;
	background: #8CC7DF;
	color: #fff;
	display: block;
	float: left;
	padding: 1.6em;
	cursor: pointer;
	position: relative;
}

.grids li.grids-span-2 {
	width: 49%;
}

.grids li.grids-span-4 {
	width: 99%;
}

.grids li h3 {
	font-size: 2.6em;
	font-weight: 100;
}

.grids li[class^="icon-"]:before,
.grids li[class*=" icon-"]:before {
	font-size: 10em;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	line-height: 3;
	opacity: 0.4;
	text-align: right;
	pointer-events: none;
}

.tops {
	display: block;
	font-size: 2em;
	opacity: 0.5;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.grids li:hover .tops {
	opacity: 1;
}

.overlays {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #444;
	-webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease, clip 0.4s ease;
	-moz-transition: opacity 0.4s ease, -moz-transform 0.4s ease, clip 0.4s ease;
	transition: opacity 0.4s ease, transform 0.4s ease, clip 0.4s ease;
	z-index: -1;
	pointer-events: none;
	cursor: default;
}

.closes {
	position: absolute;
	top: 0.4em;
	right: 0.4em;
	width: 2em;
	height: 2em;
	text-indent: -9000px;
	cursor: pointer;
	z-index: 1000;
}

.closes::before {
	content: 'x';
	font-weight: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 3em;
	line-height: 0.6;
	text-align: center;
	text-indent: 0px;
}

.card-init {
	width: 100%;
	height: 100%;
}

.card-init > div {
	width: 10%;
	height: 100%;
	float: left;
	position: relative;
	padding: 3% 0;
}

.card-init > div:first-child {
	width: 30%;
}

.card-init span {
	padding: 5% 0;
	font-size: 2em;
	font-weight: 100;
	display: block;
	margin: auto 0;
	height: 30%;
	width: 100%;
	line-height: 0.8;
}

.card-init span.card-main {
	font-weight: 700;
	padding: 1% 10%;
	font-size: 1em;
	line-height: 1.2;
}
.card-init div.card-sub {
margin-top: 100px; 
width: 200px;
}
.card-init > div button {

  display: inline-flexbox; 
  height: 50px; 
  line-height: 50px;
  padding-right: 30px;
  padding-left: 30px;
  position: relative;
  background-color:rgb(41,127,184);
  color:rgb(255,255,255);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 200px;
  margin-bottom: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
  -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  
}
.card-init [class^="icon-"]:before {
	font-size: 2.5em;
	font-weight: normal;
}

.card-init > div:first-child [class^="icon-"] {
	opacity: 0.1;
}

/* Colors */

/* Grid */
.grids li:nth-child(1) { background: #3399CC; }
.grids li:nth-child(2) { background: #33CCCC; }
.grids li:nth-child(3) { background: #996699; }
.grids li:nth-child(4) { background: #C24747; }
.grids li:nth-child(5) { background: #e2674a; }
.grids li:nth-child(6) { background: #FFCC66; }
.grids li:nth-child(7) { background: #99CC99; }
.grids li:nth-child(8) { background: #669999; }
.grids li:nth-child(9) { background: #CC6699; }
.grids li:nth-child(10) { background: #339966; }
.grids li:nth-child(11) { background: #666699; }

/* Overlay Columns */
.grids li:nth-child(1) .card-init > div:nth-child(1) { background: #3399CC; }
.grids li:nth-child(1) .card-init > div:nth-child(2) { background: #2D87B4; }
.grids li:nth-child(1) .card-init > div:nth-child(3) { background: #297AA3; }
.grids li:nth-child(1) .card-init > div:nth-child(4) { background: #256E93; }
.grids li:nth-child(1) .card-init > div:nth-child(5) { background: #216283; }
.grids li:nth-child(1) .card-init > div:nth-child(6) { background: #1D5672; }
.grids li:nth-child(1) .card-initit > div:nth-child(7) { background: #184962; }
.grids li:nth-child(1) .rb-week > div:nth-child(8) { background: #143D52; }

.grids li:nth-child(2) .card-init > div:nth-child(1) { background: #33CCCC; }
.grids li:nth-child(2) .card-init > div:nth-child(2) { background: #2DB4B4; }
.grids li:nth-child(2) .card-init > div:nth-child(3) { background: #29A3A3; }
.grids li:nth-child(2) .card-init > div:nth-child(4) { background: #259393; }
.grids li:nth-child(2) .card-init > div:nth-child(5) { background: #218383; }
.grids li:nth-child(2) .card-init > div:nth-child(6) { background: #1D7272; }
.grids li:nth-child(2) .card-init > div:nth-child(7) { background: #186262; }
.grids li:nth-child(2) .card-init > div:nth-child(8) { background: #145252; }

.grids li:nth-child(3) .card-init > div:nth-child(1) { background: #996699; }
.grids li:nth-child(3) .card-init > div:nth-child(2) { background: #936293; }
.grids li:nth-child(3) .card-init > div:nth-child(3) { background: #875A87; }
.grids li:nth-child(3) .card-init > div:nth-child(4) { background: #7A527A; }
.grids li:nth-child(3) .card-init > div:nth-child(5) { background: #6E496E; }
.grids li:nth-child(3) .card-init > div:nth-child(6) { background: #624162; }
.grids li:nth-child(3) .card-init > div:nth-child(7) { background: #563956; }
.grids li:nth-child(3) .card-init > div:nth-child(8) { background: #493149; }

.grids li:nth-child(4) .card-init > div:nth-child(1) { background: #C24747; }
.grids li:nth-child(4) .card-init > div:nth-child(2) { background: #B83D3D; }
.grids li:nth-child(4) .card-init > div:nth-child(3) { background: #A83838; }
.grids li:nth-child(4) .card-init > div:nth-child(4) { background: #993333; }
.grids li:nth-child(4) .card-init > div:nth-child(5) { background: #8A2E2E; }
.grids li:nth-child(4) .card-init > div:nth-child(6) { background: #7A2929; }
.grids li:nth-child(4) .card-init > div:nth-child(7) { background: #6B2424; }
.grids li:nth-child(4) .card-init > div:nth-child(8) { background: #5C1F1F; }

.grids li:nth-child(5) .card-init > div:nth-child(1) { background: #e2674a; }
.grids li:nth-child(5) .card-init > div:nth-child(2) { background: #E05C3E; }
.grids li:nth-child(5) .card-init > div:nth-child(3) { background: #DD4D2C; }
.grids li:nth-child(5) .card-init > div:nth-child(4) { background: #D34322; }
.grids li:nth-child(5) .card-init > div:nth-child(5) { background: #C13D1F; }
.grids li:nth-child(5) .card-init > div:nth-child(6) { background: #AF371D; }
.grids li:nth-child(5) .card-init > div:nth-child(7) { background: #9E321A; }
.grids li:nth-child(5) .card-init > div:nth-child(8) { background: #8C2C17; }

.grids li:nth-child(6) .card-init > div:nth-child(1) { background: #FFCC66; }
.grids li:nth-child(6) .card-init > div:nth-child(2) { background: #FFC247; }
.grids li:nth-child(6) .card-init > div:nth-child(3) { background: #FFBB33; }
.grids li:nth-child(6) .card-init > div:nth-child(4) { background: #FFB41F; }
.grids li:nth-child(6) .card-init > div:nth-child(5) { background: #FFAD0A; }
.grids li:nth-child(6) .card-init > div:nth-child(6) { background: #F5A300; }
.grids li:nth-child(6) .card-init > div:nth-child(7) { background: #E09600; }
.grids li:nth-child(6) .card-init > div:nth-child(8) { background: #CC8800; }

.grids li:nth-child(7) .card-init > div:nth-child(1) { background: #99CC99; }
.grids li:nth-child(7) .card-init > div:nth-child(2) { background: #85C185; }
.grids li:nth-child(7) .card-init > div:nth-child(3) { background: #77BB77; }
.grids li:nth-child(7) .card-init > div:nth-child(4) { background: #6AB46A; }
.grids li:nth-child(7) .card-init > div:nth-child(5) { background: #5CAD5C; }
.grids li:nth-child(7) .card-init > div:nth-child(6) { background: #52A352; }
.grids li:nth-child(7) .card-init > div:nth-child(7) { background: #4B954B; }
.grids li:nth-child(7) .card-init > div:nth-child(8) { background: #448844; }

.grids li:nth-child(8) .card-init > div:nth-child(1) { background: #669999; }
.grids li:nth-child(8) .card-init > div:nth-child(2) { background: #629393; }
.grids li:nth-child(8) .card-init > div:nth-child(3) { background: #5A8787; }
.grids li:nth-child(8) .card-init > div:nth-child(4) { background: #527A7A; }
.grids li:nth-child(8) .card-init > div:nth-child(5) { background: #496E6E; }
.grids li:nth-child(8) .card-init > div:nth-child(6) { background: #416262; }
.grids li:nth-child(8) .card-init > div:nth-child(7) { background: #395656; }
.grids li:nth-child(8) .card-init > div:nth-child(8) { background: #314949; }

.grids li:nth-child(9) .card-init > div:nth-child(1) { background: #CC6699; }
.grids li:nth-child(9) .card-init > div:nth-child(2) { background: #C7578F; }
.grids li:nth-child(9) .card-init > div:nth-child(3) { background: #C24785; }
.grids li:nth-child(9) .card-init > div:nth-child(4) { background: #B83D7A; }
.grids li:nth-child(9) .card-init > div:nth-child(5) { background: #A83870; }
.grids li:nth-child(9) .card-init > div:nth-child(6) { background: #993366; }
.grids li:nth-child(9) .card-init > div:nth-child(7) { background: #8A2E5C; }
.grids li:nth-child(9) .card-init > div:nth-child(8) { background: #7A2952; }

.grids li:nth-child(10) .card-init > div:nth-child(1) { background: #339966; }
.grids li:nth-child(10) .card-init > div:nth-child(2) { background: #2E8A5C; }
.grids li:nth-child(10) .card-init > div:nth-child(3) { background: #297A52; }
.grids li:nth-child(10) .card-init > div:nth-child(4) { background: #246B47; }
.grids li:nth-child(10) .card-init > div:nth-child(5) { background: #1F5C3D; }
.grids li:nth-child(10) .card-init > div:nth-child(6) { background: #194D33; }
.grids li:nth-child(10) .card-init > div:nth-child(7) { background: #143D29; }
.grids li:nth-child(10) .card-init > div:nth-child(8) { background: #0F2E1F; }

.grids li:nth-child(11) .card-init > div:nth-child(1) { background: #666699; }
.grids li:nth-child(11) .card-init > div:nth-child(2) { background: #626293; }
.grids li:nth-child(11) .card-init > div:nth-child(3) { background: #5A5A87; }
.grids li:nth-child(11) .card-init > div:nth-child(4) { background: #52527A; }
.grids li:nth-child(11) .card-init > div:nth-child(5) { background: #49496E; }
.grids li:nth-child(11) .card-init > div:nth-child(6) { background: #414162; }
.grids li:nth-child(11) .card-init > div:nth-child(7) { background: #393956; }
.grids li:nth-child(11) .card-init > div:nth-child(8) { background: #313149; }

@media screen and (max-width: 63.125em) {
	
	.grids li,
	.grids li.grids-span-2,
	.grids li.grids-span-4 {
		width: 100%;
		height: 10em;
		text-align: left;
	}

	.grids li[class^="icon-"]:before,
	.grids li[class*=" icon-"]:before {
		font-size: 6em;
		left: auto;
		right: 0;
		line-height: 2.5;
	}

	.grids li > div {
		text-align: center;
	}
}
