.data-display-header{
    margin-top:50px;
    padding-top: 3em;
    padding-bottom: 3em;
}
    

.data-display-content {
    margin-top:3em;
    margin-bottom:3em;
}

.data-display-footer{
    padding-top: 3em;
    padding-bottom: 3em;
}
    