.data-display-header{
    margin-top:50px;
    padding-top: 3em;
    padding-bottom: 3em;
}
    

.data-display-content {
    margin-top:3em;
    margin-bottom:3em;
}

.data-display-footer{
    padding-top: 3em;
    padding-bottom: 3em;
}
.capitalize{
     text-transform: capitalize;
}

.nowrapTabStrip.dijitTabContainerTop-tabs{
    display:none;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
p {
    font-size: large;
}
.dijitTabPaneWrapper.dijitTabContainerTop-container.dijitAlignCenter
{
    border-color: #ffffff;
}

.container-fluid.data-display-header {
    margin-bottom: 10px;
}
div.col-md-12{
    padding:0;
    
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}





#submitButton {
    margin-top: 1em;
    margin-bottom: 1em;
    display: none;
    
}






#onlyrdform {
    display: none;
}

.shadow {
    -webkit-box-shadow: 11px 11px 24px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 11px 24px -8px rgba(0,0,0,0.75);
box-shadow: 11px 11px 24px -8px rgba(0,0,0,0.75);
}

#errorDiv {
    display:none;
}
